[client]
default-character-set = utf8               
#定义客户端连接服务端使用的字符集
socket = /home/{{ansible_ssh_user}}/mysql_home/data/mysql.sock

[mysqld]
# 服务端存储数据使用的字符集
character-set-server = utf8
port = 3306
bind-address = 0.0.0.0
datadir = /home/{{ansible_ssh_user}}/mysql_home/data
socket = /home/{{ansible_ssh_user}}/mysql_home/data/mysql.sock
pid-file = /var/run/mysqld/mysqld.pid

log-error = /home/{{ansible_ssh_user}}/mysql_home/log/mysqld.err
# 慢日志
long_query_time = 1
slow-query-log-file = /home/{{ansible_ssh_user}}/mysql_home/log/slow.log
# 日志文件保存时间
expire_logs_days = 10
log_bin = mysql-bin
log-bin-index = mysql-bin.index
binlog_format = ROW
#一个事务中为了记录sql状态所持有的cache大小
binlog_cache_size = 2M
max_binlog_cache_size = 32M
max_binlog_size = 50M

#操作系统监听队列保持的连接数
back_log = 300
# mysql允许的连接数
max_connections = 3000
# mysql允许单个客户端最大错误允许数量
max_connect_errors = 30
#所有线程打开表的数量
table_open_cache = 4096
open_files_limit = 1024
#需要为临时表和文件保留一些额外的文件描述符。
# 在cache中保留多少线程用于重用
thread_cache_size = 8
# 允许的线程数据【核数*2】
# server端能够接受的单个连接的最大的数据包大小
max_allowed_packet = 32M
thread_stack = 192K
#限定用于每个数据库线程的栈大小。默认设置足以满足大多数应用

# 用来存放排序后缓冲地址大小
sort_buffer_size = 1M
read_buffer_size = 1M
read_rnd_buffer_size = 4M
join_buffer_size = 262144
# 查询结果缓存大小
query_cache_size = 16M
# 小于此值的查询结果才会被缓冲
query_cache_limit = 1M
# 批量插入的缓冲区大小
bulk_insert_buffer_size = 1M

# 单个内存表所允许的最大容量
max_heap_table_size = 16M
tmp_table_size = 16M
key_buffer_size = 256M

#transaction_isolation = READ-COMMITTED
# 设定默认的事务隔离级别

innodb_buffer_pool_size = 32M
#缓存数据和索引的缓存大小
innodb_data_home_dir = /home/{{ ansible_ssh_user}}/mysql_home/data
innodb_flush_log_at_trx_commit = 2
# innodb事务数据刷新到磁盘的策略
innodb_log_buffer_size = 2M
# 日志数据缓冲区大小
innodb_log_file_size = 4M
#此参数确定数据日志文件的大小
innodb_log_files_in_group = 3
#为提高性能，MySQL可以以循环方式将日志文件写到多个文件
innodb_max_dirty_pages_pct = 90
# Buffer_Pool中Dirty_Page所占的数量，直接影响InnoDB的关闭时间。
innodb_lock_wait_timeout = 120
#指示 MySQL在允许其他事务修改那些最终受事务回滚的数据之前要等待多长时间(秒数)
innodb_file_per_table = 0
# 是否一个表一个文件存储
server-id = 1
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
